<!doctype html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168683396-2"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-168683396-2');
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
        <meta https-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />

        <title>{{ site.title }}</title>

        <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.16.0.min.css" />
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <header id="navigation" class="p-navigation is-dark">
        <div class="p-navigation__row">
            <div class="p-navigation__banner">
            <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
            <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
            </div>
            <nav class="p-navigation__nav">
            <span class="u-off-screen">
                <a href="#main-content">Jump to main content</a>
            </span>
            <ul class="p-navigation__items" role="menu">
                <li class="p-navigation__item is-selected" role="menuitem">
                    <a class="p-navigation__link" href="/">Bille.dev</a>
                </li>
                <li class="p-navigation__link" role="menuitem">
                    <a class="p-navigation__link" href="/about">About</a>
                </li>
            </ul>
            </nav>
        </div>
        </header>


        <section class="p-strip--suru">
            <div class="row u-vertically-center">
                <div class="col-8">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle%}
                        <p>{{ page.subtitle}}</p>
                    {% endif %}
                    <p>{{ page.date | date_to_long_string}}</p>
                </div>
            </div>
        </section>

        <main id="main-content">
            {{ content }}
        </main>

        <footer class="p-strip--light">
            <nav class="row">
                <div class="has-cookie">
                    <p>© 2020 <a href="https://toto.space">Toto Corp</a> </p>
                    <ul class="p-inline-list--middot">
                        <li class="p-inline-list__item">
                            <a href="#"><small>Report a bug on this site</small></a>
                        </li>
                    </ul>
                    <span class="u-off-screen"><a href="#">Go to the top of the page</a></span>
                </div>
            </nav>
        </footer>
    </body>
</html>
